In [1]:
import pandas as pd 
import numpy as np

For Kwai, split the validation and testing in this script.
Please note the names of saved files, you may change its name for utilize it.
What we need are valid.txt/test.txt

In [2]:
test_with_time  = pd.read_csv("teset_interaction_filter.txt",sep=' ',header=None)
test_with_time.head(2)

       0       1  2  3
0  20399   54159  9  1
1   3081  108658  9  1

In [3]:
test_with_time.columns = ['uid','iid','time_slot','click']
test_with_time.head(2)

     uid     iid  time_slot  click
0  20399   54159          9      1
1   3081  108658          9      1

In [17]:
test_unique_user = test_with_time['uid'].unique()
N_ = test_unique_user.shape[0]
np.random.seed(2020)
np.random.shuffle(test_unique_user)
split_idx  = int(N_*0.7)
test_real_user = test_unique_user[:split_idx]
valid_real_user = test_unique_user[split_idx:]
print("tot user in the last stage:",N_,"real test user:",test_real_user.shape[0],"real valid user:",valid_real_user.shape[0])

tot user in the last stage: 27688 real test user: 19381 real valid user: 8307

In [7]:
data_real_test = test_with_time[test_with_time['uid'].isin(test_real_user)]
data_real_valid = test_with_time[test_with_time['uid'].isin(valid_real_user)]
print("tot itr:",test_with_time.shape,"real test:",data_real_test.shape,"real valid:",data_real_valid.shape)

tot itr: (652717, 4) real test: (456370, 4) real valid: (196347, 4)

In [9]:
user_items_test = data_real_test.sort_values(by='uid',ignore_index=True)
print(user_items_test.head(2))
test_itr = user_items_test.values[:,0:2]
print(test_itr.shape)
with open('test_real.txt','w') as f:
    u_pre = test_itr[0,0]
    k = 0
    for x in test_itr:
        u = x[0]
        i = x[1]
        if u !=u_pre or k==0:
            u_pre = u
            if k>0:
                f.write('\n')
            f.write(str(u))
            k = 1
        f.write(' '+str(i))

   uid     iid  time_slot  click
0    0  120599          9      1
1    0  106436          9      1
(456370, 2)

In [10]:
user_items_test = data_real_valid.sort_values(by='uid',ignore_index=True)
print(user_items_test.head(2))
test_itr = user_items_test.values[:,0:2]
print(test_itr.shape)
with open('valid_real.txt','w') as f:
    u_pre = test_itr[0,0]
    k = 0
    for x in test_itr:
        u = x[0]
        i = x[1]
        if u !=u_pre or k==0:
            u_pre = u
            if k>0:
                f.write('\n')
            f.write(str(u))
            k = 1
        f.write(' '+str(i))

   uid     iid  time_slot  click
0    2  116927          9      1
1    2  128699          9      1
(196347, 2)